@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}
.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blog-content{
  padding: 36px 0;
}
.blog-content b{
  margin-bottom: 10px;
  font-weight: 500px;
}
.blog-content p{
  margin-bottom: 10px;
}
.blog-content h1{
  margin-bottom: 10px;
  font-weight: 600px;
  font-size: 26px;
}
.blog-content h2{
  margin-bottom: 10px;
  font-weight: 500px;
  font-size: 22px;
}
.blog-content h3{
  margin-bottom: 10px;
  font-weight: 500px;
  font-size: 18px;
}

a.active hr{
  display: block;
}  
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: Outfit;
}
body{
  background-color: rgb(84, 84, 149);
  /* min-height: 100vh; */
}

body {
  position: relative;
  height: 100%;
}

body {
  
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 40vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width:640px) {
  a.active {
      background-color: black;
      color: white;
  }
}